[submodule "goexample/go"]
	path = goexample/go
	url = git@github.com:goinaction/code.git
[submodule "qcos-deploy"]
	path = qcos-deploy
	url = git@github.com:chasers2012/qcos-deploy.git
[submodule "test_OPC/OPX"]
	path = test_OPC/OPX
	url = git@github.com:gopcua/opcua.git
[submodule "go_Mqtt/github"]
	path = go_Mqtt/github
	url = git@github.com:jeffallen/mqtt.git
[submodule "test_OPC/awcullen"]
	path = test_OPC/awcullen
	url = git@github.com:awcullen/opcua.git
[submodule "go_s7/github"]
	path = go_s7/github
	url = git@github.com:robinson/gos7.git
[submodule "testExcel/fromExcel/tabtoy"]
	path = testExcel/fromExcel/tabtoy
	url = git@github.com:davyxu/tabtoy.git
