[submodule "go_sevendays"]
	path = go_sevendays
	url = git@github.com:geektutu/7days-golang.git
[submodule "goexample/go"]
	path = goexample/go
	url = git@github.com:goinaction/code.git
[submodule "qcos-deploy"]
	path = qcos-deploy
	url = git@github.com:chasers2012/qcos-deploy.git
[submodule "test_OPC/OPX"]
	path = test_OPC/OPX
	url = git@github.com:gopcua/opcua.git
