[submodule "test_OPC/OPX"]
	path = test_OPC/OPX
	url = git@github.com:gopcua/opcua.git
[submodule "go_Mqtt/github"]
	path = go_Mqtt/github
	url = git@github.com:jeffallen/mqtt.git
[submodule "test_OPC/awcullen"]
	path = test_OPC/awcullen
	url = git@github.com:awcullen/opcua.git
[submodule "go_s7/github"]
	path = go_s7/github
	url = git@github.com:robinson/gos7.git
[submodule "testExcel/fromExcel/tabtoy"]
	path = testExcel/fromExcel/tabtoy
	url = git@github.com:davyxu/tabtoy.git
[submodule "testExcel/fromandtoexcel/source"]
	path = testExcel/fromandtoexcel/source
	url = git@github.com:qax-os/excelize.git
	branch = v2
[submodule "go_submodule/over-golang"]
	path = go_submodule/over-golang
	url = git@github.com:overnote/over-golang.git
[submodule "go_submodule/go-design-pattern"]
	path = go_submodule/go-design-pattern
	url = git@github.com:senghoo/golang-design-pattern.git
[submodule "go_submodule/SourceCodeofMongoRedis"]
	path = go_submodule/SourceCodeofMongoRedis
	url = git@github.com:kingname/SourceCodeofMongoRedis.git
[submodule "go_submodule/qoos-deploy"]
	path = go_submodule/qoos-deploy
	url = git@github.com:chasers2012/qcos-deploy.git
[submodule "go_submodule/go-example"]
	path = go_submodule/go-example
	url = git@github.com:goinaction/code.git
[submodule "go_submodule/websocket"]
	path = go_submodule/websocket
	url = git@github.com:fasthttp/websocket.git
[submodule "go_submodule/ftp"]
	path = go_submodule/ftp
	url = git@github.com:smallfish/ftp.git
